{% extends "base.html" %}

{% block title %} HeliantHome - Phenotype Detail{% endblock title %}

{% load render_table from django_tables2 %}

{% block content %}

<nav class="navbar navbar-light bg-light" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb ms-3 fw-bolder fs-6 mt-2">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/phenotypes/">Phenotypes Overview</a></li>
    <li class="breadcrumb-item active" aria-current="page">Phenotype Detail</li>
  </ol>
</nav>

<div class="container mt-2 container-fluid content-row">
<div class="row">

<div class="col col-sm pt-2">
    <div class="card h-100">
      <div class="card-header">
        Details for Phenotype: <span class="fw-bold">{{pheno.name}} (ID: {{pheno.id}})</span>
      </div>
  
      <div class="card-body p-0 m-2">
        <p class="card-text">
        <!--<small class="text-muted">-->
            <div class="row">
                <div class="col">
                Individual ID:
                </div>
                <div class="col">
                {{ind.individual_id}}
                </div>
            </div>
        
            <div class="row">
                <div class="col">
                Genotype ID:
                </div>
                <div class="col">
                {{ind.genotype_id}}
                </div>
            </div>

            <div class="row pt-3">
                <div class="col">
                Species:
                </div>
                <div class="col">
                <a href="/species/{{ind.species.ncbi_id}}/"><em>{{ind.species.species}}</em></a>
                </div>
            </div>
        
            <div class="row">
                <div class="col">
                Species NCBI-ID:
                </div>
                <div class="col">
                <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ind.species.ncbi_id}}" target="_blank">{{ind.species.ncbi_id}}</a>
                </div>
            </div>
        
            <div class="row pt-3">
                <div class="col">
                Population:
                </div>
                <div class="col">
                <a href="/population/{{ind.population.population_id}}/">{{ind.population.population_id}}</a>
                </div>
            </div>

            <div class="row pt-3">
                <div class="col">
                Measured Phenotypes:
                </div>
                <div class="col">
                {{ind.phenotypelink_set.count}}
                </div>
            </div>
        
            <div class="row pt-3">
                <div class="col">
                Images:
                </div>
                <div class="col">
                {{ind.plantimage_set.count}}
                </div>
            </div>
        
        <!--</small>-->
        </p>
      </div>
</div>
</div>

<div class="col col-sm pt-2">
    <div class="card" style="border-color:#9FC4E1;">
      <div class="card-header" style="background-color: #9FC4E1;">
        {{ind.population.country}} – {{ind.population.sitename}} <span class="fw-lighter">(Lat={{ind.population.latitude}}° Long={{ind.population.longitude}}°)</span>
      </div>
      <div class="card-body mh-100" id="world-map" style="height:300px">
      </div>
    </div>
</div>

</div>
</div>
<!-- New Container -->
<div class="container mt-2 container-fluid content-row">

    <div class="row">

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <strong>Images for Individual {{ind.individual_id}}</strong>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
              <div class="text-center">
              {% for im in ind.plantimage_set.all %}
                    <figure class="figure m-2 p-2">
                     <img src="{{im.thumb_filename}}" class="figure-img img-fluid rounded-3 img-thumbnail" alt="{{im.category}}">
                     <figcaption class="figure-caption">Image shows <strong>{{im.category}}</strong></figcaption>
                    </figure>
                {% endfor %}

                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <strong>{{ind.phenotypelink_set.count}} Measured Phenotypes for Individual with ID: {{ind.individual_id}}</strong>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
              </div>
            </div>
          </div>
        </div>

</div>

<!--container end-->
</div>

<script>
    $(function(){
        $('#world-map').vectorMap({map: 'us_aea', backgroundColor: "", 
            regionStyle: {
                initial: {
                    fill: '#9FC4E1'
                },
            },
            scaleColors: ['#C8EEFF', '#0071A4'],
            normalizeFunction: 'polynomial',
            hoverOpacity: 0.7,
            hoverColor: false,
            markerStyle: {
                initial: {
                    fill: '#FF6961',
                    stroke: '#383f47'
                }
            },
            markers: {{ map_data|safe }}
        });
    });
</script>

{% endblock content %}
