{% extends "base.html" %}

{% block title %} HeliantHome - Phenotype Detail{% endblock title %}

{% load render_table from django_tables2 %}

{% block content %}

<nav class="navbar navbar-light bg-light" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb ms-3 fw-bolder fs-6 mt-2">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/phenotypes/">Phenotypes Overview</a></li>
    <li class="breadcrumb-item active" aria-current="page">Phenotype Detail</li>
  </ol>
</nav>

{% ifequal message "no_pheno" %}

<div class="container mt-2 container-fluid content-row">
<div class="row">

<div class="alert alert-warning d-flex align-items-center" role="alert">
  <span style="white-space:nowrap" ><i class="bi bi-exclamation-triangle me-3">
    Phenotype with ID={{pid}} not found!
  </i></span>
</div>

</div>
</div>

{% else %}

<div class="container mt-2 container-fluid content-row">
<div class="row">

<div class="col-sm-12 col-md-6 pt-2">
    <div class="card h-100" id="details">
      <div class="card-header">
        Details for Phenotype: <span class="fw-bold">{{pheno.name}} (ID: {{pheno.id}})</span>
      </div>
  
      <div class="card-body p-0 m-2" style="font-size:10.5pt">
        <p class="card-text">
        <!--<small class="text-muted">-->
            <div class="row">
                <div class="col">
                Phenotype ID:
                </div>
                <div class="col">
                {{pheno.id}}
                </div>
            </div>
        
            <div class="row">
                <div class="col">
                Name:
                </div>
                <div class="col">
                {{pheno.name}}
                </div>
            </div>

            <div class="row pt-2">
                <div class="col">
                Species:
                </div>
                <div class="col">
                <a href="/species/{{pheno.species.ncbi_id}}/" class="fw-lighter text-decoration-none"><em>{{pheno.species.species}}</em></a>
                </div>
            </div>
        
            <div class="row">
                <div class="col">
                Species NCBI-ID:
                </div>
                <div class="col">
                <span style="white-space:nowrap"><a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{pheno.species.ncbi_id}}" target="_blank" class="fw-lighter text-decoration-none">{{pheno.species.ncbi_id}} <i class="bi bi-box-arrow-up-right m-1 fs-6"></i></a></span>
                </div>
            </div>
        
            <div class="row pt-2">
                <div class="col">
                Category:
                </div>
                <div class="col">
                    {{pheno.category}}
                </div>
            </div>

            <div class="row">
                <div class="col">
                Sub-Category:
                </div>
                <div class="col">
                {{pheno.sub_category}}
                </div>
            </div>
        
            <div class="row">
                <div class="col">
                Type:
                </div>
                <div class="col">
                {% if pheno.type == 0 %}
                    Quantitative
                {% elif pheno.type == 1 %}
                    Categorical
                {% else %}
                    Binary
                {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                Ontology:
                </div>
                <div class="col">
                <span style="white-space:nowrap"><a href="{{pheno.ontology.get_info_url}}" target="_blank" class="fw-lighter text-decoration-none"> {{pheno.ontology.name}} (ID: {{pheno.ontology.id}}) <i class="bi bi-box-arrow-up-right m-1 fs-6"></i></a></span>
                </div>
            </div>
            
            <div class="row pt-2">
                <div class="col">
                #Samples:
                </div>
                <div class="col">
                {{pheno.phenotypevalue_set.count}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                #Populations:
                </div>
                <div class="col">
                {{pop_size}}
                </div>
            </div>
            
            <div class="row pt-2">
                <div class="col">
                    <strong>Phenotype Description</strong>
                </div>
            </div>
            <div class="row">
                <div class="col">
                {{pheno.description}}
                </div>
            </div>
            <div class="row pt-2">
                <div class="col">
                    <strong>Phenotype Scoring</strong>
                </div>
            </div>
            <div class="row">
                <div class="col">
                {{pheno.method}}
                </div>
            </div>
        <!--</small>-->
        </p>
      </div>
</div>
</div>

<div class="col-sm-12 col-md-6 pt-2">
    <div class="card h-100" style="border-color:#9FC4E1;">
      <div class="card-header" style="background-color: #9FC4E1;">
        Population Map <span class="fw-lighter">({{pop_size}} Populations with {{pheno.phenotypevalue_set.count}} Individuals)</span>
      </div>
      <div class="card-body">
      <div id="world-map" style="height:400px"></div>
      </div>
    </div>
</div>

</div>
</div>
<!-- New Container -->
<div class="container mt-2 container-fluid content-row">

    <div class="row">

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <strong>Plots for Phenotype {{pheno.name}}</strong>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
              <div class="text-center">
                <div class="container">
                    <div class="row">
                    <div class="col-sm-12 col-md-6" id="histogram">
                        <canvas style="min-height:250px"  id="phenotype_histogram"></canvas>
                    </div>
                    <div class="col-sm-12 col-md-6" id="qqplot">
                        <canvas style="min-height:250px" id="phenotype_qqplot"></canvas>
                    </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <strong>Phenotype Values</strong>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {% render_table table %}
              </div>
            </div>
          </div>
        </div>

</div>

<!--container end-->
</div>
{% endifequal %}
<script>
    $(function(){

        const ctx = document.getElementById('phenotype_histogram').getContext('2d');
        const chart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: {{bins}},
            datasets: [{
              label: 'Phenotype Measurments',
              data: {{hist}},
              backgroundColor: "rgba(250,30,60,0.5)",
            },
            {
                label: "Fitted Gaussian (\u03BC={{mu}} \u03C3={{std}})",
                data: {{p}},
                type: "line",
                backgroundColor: "rgba(26,87,225,0.5)"
            }]
          },
          options: {
            responsive: true,
            aspectRatio: {% if request.user_agent.is_mobile %} 1 {% else %} 2 {% endif %},
            scales: {
              x: {
                display: true,
                ticks: {
                  autoSkip: true,
                  max: 2,
                  maxRotation: 0,
                  minRotation: 0
                },
                title: {
                  display: true,
                  text: 'Measurements'
                }
              },
              y: {
                ticks: {
                  beginAtZero: true,
                },
                title: {
                  display: true,
                  text: 'Density'
                }
              }
            }
          }
        });
        

        const ctxqq = document.getElementById('phenotype_qqplot').getContext('2d');
        const qqplot = new Chart(ctxqq, {
          type: 'scatter',
          data: {
            labels: {{ndist}},
            datasets: [{
              label: "Data Points",  
              data: {{vsort}},
              backgroundColor: "rgba(139,193,93,0.5)",
            },
            {
               data:{{diagonal_qq}},
               type:"line",
              label: "Optimal Line",  
               pointRadius: 0,
               borderColor: "rgba(0,0,0,0.5)",
               borderDash: [1]
            },
            ]
          },
          options: {
            responsive: true,
            aspectRatio: {% if request.user_agent.is_mobile %} 1 {% else %} 2 {% endif %},
            plugins: {
                legend: {
                display: true,
                },
            },
            scales: {
              x: {
                display: true,
                min: {{x_min_value}},
                max: {{x_max_value}},
                ticks: {
                  maxRotation: 0,
                  minRotation: 0
                },
                title: {
                  display: true,
                  text: 'Theoretical Quantiles'
                }
              },
              y: {
                min: {{y_min_value}},
                max: {{y_max_value}},
                title: {
                  display: true,
                  text: 'Observed Quantiles'
                }
              }
            }
          }
        });

        $('#world-map').vectorMap({map: 'us_aea', backgroundColor: "", 
            regionStyle: {
                initial: {
                    fill: '#999999'
                },
            },
            scaleColors: ['#C8EEFF', '#0071A4'],
            normalizeFunction: 'polynomial',
            hoverOpacity: 0.7,
            hoverColor: false,
            markerStyle: {
                initial: {
                    fill: '#FF6961',
                    stroke: '#383f47'
                }
            },
            markers: {{ map_data|safe }}
        });
    });
     
    if (RegExp('multipage', 'gi').test(window.location.search)) {
        var steps = [
            {
                element: '#details',
                intro: 'Phenotype details',
            },
            {
                element: '#histogram',
                intro: 'Histogram of phenotype, including a fitted Gaussian distribution'
            },
            {
                element: '#qqplot',
                intro: 'Probability plot showing theoretical quantiles of Gaussian distribution against observed quantiles. If the data is normally distributed the green dots should follow the diagnonal line.'
            },
            {
                element: 'thead',
                intro: 'Phenotypic values'
            },
            {
                element: '.individual',
                intro: 'Clicking on the Individual ID will forward to more detailed information about the Individual of interest'
            },

        ];
        var intro = introJs();
        intro.setOptions({doneLabel:'Next page',steps:steps,"tooltipPosition":"top"});
        intro.start().oncomplete(function() {
          window.location.href = '/individual/ANN0801/?multipage=true';
        });
    }
</script>

{% endblock content %}
