{% extends "base.html" %}

{% block title %} HeliantHOME - Phenotype Overview{% endblock title %}

{% load render_table from django_tables2 %}

{% block content %}

<nav class="navbar navbar-light bg-light" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb ms-3 fw-bolder fs-6 mt-2">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Phenotype Overview</li>
  </ol>
</nav>

<div class="container" id="table">

    <div class="row">
            <div class="col">
                {% render_table table %}
            </div>
        </div>
</div>

<script>

     if (RegExp('multipage', 'gi').test(window.location.search)) {
        var steps = [
            {
                element: 'thead',
                intro: 'The phenotype table displays all public phenotypes across all species. The list can be sorted by any of the table columns.'
            },
            {
                element: '.phenotype',
                intro: 'Clicking on a certain phenotype will display more information about the corresponding phenotype'
            }

        ];
        var intro = introJs();
        intro.setOptions({doneLabel:'Next page',steps:steps,"tooltipPosition":"top"});
        intro.start().oncomplete(function() {
          window.location.href = '/phenotype/1?multipage=true';
        });
    }
</script>

{% endblock content %}
