{% extends "base.html" %}

{% block title %} HeliantHOME - Population Overview{% endblock title %}

{% load render_table from django_tables2 %}

{% block content %}

<nav class="navbar navbar-light bg-light" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb ms-3 fw-bolder fs-6 mt-2">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Population Overview</li>
  </ol>
</nav>


<div class="container mt-1">

<div class="row">
<div class="col-sm-12 col-md-6">
    <div class="card h-100">
      <div class="card-header">
        Filters
      </div>  
    <div class="card-body">
    
    </div>
    </div>
</div>
<div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-header">
        Population Map
      </div>
      <div class="card-body mh-100" id="world-map" style="height:300px">
      </div>
    </div>
</div>
</div>

    <div class="row pt-3">
            <div class="col">
                {% render_table pop_table %}
            </div>
        </div>
</div>

<script>
    $(function(){
        $('#world-map').vectorMap({map: 'us_aea', backgroundColor: "", 
            regionStyle: {
                initial: {
                    fill: '#999999'
                },
            },
            scaleColors: ['#C8EEFF', '#0071A4'],
            normalizeFunction: 'polynomial',
            hoverOpacity: 0.7,
            hoverColor: false,
            markerStyle: {
                initial: {
                    fill: '#FF6961',
                    stroke: '#383f47'
                }
            },
            markers: {{ map_data|safe }}
        });
    });
</script>

{% endblock content %}
