{% extends "base.html" %}

{% block title %} HeliantHOME - Population Overview{% endblock title %}

{% load render_table from django_tables2 %}

{% block content %}

<nav class="navbar navbar-light bg-light" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb ms-3 fw-bolder fs-6 mt-2">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Population Overview</li>
  </ol>
        <a href="/rest/population/list.json" target="_blank" class="btn btn-outline-info float-end">Download Full Population List <i class="bi bi-download"></i></a>
</nav>


<div class="container mt-1">

<div class="row">
<div class="col-sm-12 col-md-6">
    <div class="card h-100">
      <div class="card-header">
        Filters
      </div>  
    <div class="card-body">
    <form method="post">
        {% csrf_token %}
          <div class="row mb-2 align-items-center">
          <div class="col-sm-12 col-md-2">
            <label for="id_species" class="form-label">Taxa</label>
          </div>
          <div class="col-sm-12 col-md-10">
                {{form.species}}
          </div>
          </div>
          <div class="row mb-2 align-items-center">
          <div class="col-sm-12 col-md-2">
            <label for="id_country" class="form-label">Country</label>
          </div>
          <div class="col-sm-12 col-md-10">
                {{form.country}}
          </div>
          </div>
          <div class="row mb-2 align-items-center">
          <div class="col-sm-12 col-md-2">
            <label for="id_sitename" class="form-label">Sitename</label>
          </div>
          <div class="col-sm-12 col-md-10">
                {{form.sitename}}
          </div>
          </div>
          <div class="row mb-2 align-items-center">
          <div class="col-sm-12 col-md-2">
            <label for="id_cultivated" class="form-label">Cultivated</label>
          </div>
          <div class="col-sm-12 col-md-10">
                {{form.cultivated}}
          </div>
          </div>
          <div class="mb-3 float-end">
            <a href="/populations/" class="btn btn-secondary">Clear Filters</a>
            <button type="submit" class="btn btn-primary">Filter</button>
         </div>
    </form>
    </div>
    </div>
</div>
<div class="col-sm-12 col-md-6">
    <div class="card">
      <div class="card-header">
        Population Map
      </div>
      <div class="card-body mh-100" id="world-map" style="height:300px">
      </div>
    </div>
</div>
</div>

    <div class="row pt-3">
            <div class="col">
                {% if filter_empty %}
                <div class="card border-danger">
                  <div class="card-body text-danger">
                    <i class="bi bi-file-x"></i> <strong>No entries found for this query</strong>
                  </div>
                </div>

                {% else %}
                {% render_table pop_table %}
                {% endif %}
            </div>
        </div>
</div>

<script>
    $(function(){
        var markers = {{map_data|safe}};
        $('#world-map').vectorMap({map: 'us_aea', backgroundColor: "", 
            regionStyle: {
                initial: {
                    fill: '#999999'
                },
            },
            scaleColors: ['#C8EEFF', '#0071A4'],
            normalizeFunction: 'polynomial',
            hoverOpacity: 0.7,
            hoverColor: false,
            markerStyle: {
                initial: {
                    fill: '#FF6961',
                    stroke: '#383f47'
                }
            },
            markers: markers,
            onMarkerClick: function(event, index) {
                window.location.href = markers[index].weburl;
            }
        });
    });
</script>

{% endblock content %}
