{% extends "base.html" %}

{% block title %} HeliantHOME - Species Details for {{species.species}}{% endblock title %}

{% load render_table from django_tables2 %}

{% block content %}
<nav class="navbar navbar-light bg-light" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb ms-3 fw-bolder fs-6 mt-2">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/species/">Species Overview</a></li>
    {% ifequal message "no_species" %}
    <li class="breadcrumb-item active" aria-current="page">No species found</li>
    {% else %}
    <li class="breadcrumb-item active" aria-current="page">Details for {{species.species}}</li>
    {% endifequal %}
  </ol>
</nav>

<br>

{% ifequal message "no_species" %}

<div class="container mt-2 container-fluid content-row">
<div class="row">

<div class="alert alert-warning d-flex align-items-center" role="alert">
  <span style="white-space:nowrap" ><i class="bi bi-exclamation-triangle me-3">
    Species with NCBI ID {{ncbi_id}} not found!
  </i></span>
</div>

</div>
</div>

{% else %}

<div class="container mt-1 container-fluid content-row">
<div class="row">

{% if species.cultivated %}
<div class="col-sm-12 col-md-12 mt-2">
{%else%}
<div class="col-sm-12 col-md-6 mt-2">
{%endif%}
    <div class="card h-100">
      <div class="card-header">
        Detailed Information for <em>{{species.species}}</em>
      </div>

  <div class="card-body">
    <div class="container">
    <div class="row">
        {% if species.cultivated %}
        <div class="col-md-2">
            <img src="{{species.species_image}}" class="card-img-top" alt="{{species.species}}" style="max-height:200px;width:auto;">
        {%else%}
        <div class="col-md-4">
            <img src="{{species.species_image}}" class="card-img-top" alt="{{species.species}}">
        {%endif%}
        </div>
        {% if species.cultivated %}
        <div class="col-md-10">
        {%else%}
        <div class="col-md-8">
        {%endif%}
            <h5 class="card-title"><em>{{species.species}}</em></h5>
            <p class="card-text">
            {% if species.cultivated %}
                <strong>Cultivated Species</strong>
                <small class="text-muted">
                <br># Populations: {{species.population_set.count}}
                <br># Accessions: {{species.accession_set.count}}
                <br># Phenotypes: {{species.phenotype_set.count}}
                </small>

            {% else %}
            <small class="text-muted">NCBI Taxonomy ID: <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{species.ncbi_id}}" target="_blank">{{species.ncbi_id}}</a>
                <br># Populations: {{species.population_set.count}}
                <br># Individuals: {{species.individual_set.count}}
                <br># Phenotypes: {{species.phenotype_set.count}}</small>
            {% endif %}
            </p>
        </div>
    </div>
    {% ifnotequal species.description None  %}
    <span class="mt-2"><strong>Description</strong></span><br>
    <span class="fw-lighter">{{species.description|safe}}</span>
    {% endifnotequal %}
    </div>
    </div>
</div>
</div>


{% if species.cultivated %}
{% else %}
<div class="col-sm-12 col-md-6 mt-2"> 
    <div class="card h-100" style="border-color:#9FC4E1;">
      <div class="card-header" style="background-color: #9FC4E1;">
        Population Map for <em>{{species.species}}</em>
      </div>
      <div class="card-body mh-100" id="world-map" style="height:300px">
      </div>
    </div>
</div>
{% endif %}

</div>
</div>


<div class="container mt-2 container-fluid content-row">
<div class="row">
<div class="col-sm-12 col-md-12"> 
    <div class="card">
      <div class="card-header">
        Publications 
      </div>
      <div class="card-body fw-lighter lh-sm" style="font-size:10pt">
         <ul class="collection">
            {% for p in species.study.publications.all %}
                <li class="collection-item">
                    <span class="title">
                       <strong><span class="text-decoration-none" style="white-space:nowrap"><a href="https://doi.org/{{ p.doi }}" target="_blank" class="text-decoration-none">{{ p.title }} <i class="bi bi-box-arrow-up-right me-3 " style="font-size:8pt"></i></a></span></strong>
                    </span>
                    <p class="author-list">
                        {{ p.author_order }}<br>
                        <strong>{{ p.journal }}</strong>. {{ p.pub_year }} {{ p.volume }}: {{ p.pages }}. doi: {{ p.doi }}
                    </p>
                </li>
            {% endfor %}
        </ul>
  </div>
  </div>
  </div>
  </div>
</div>

<div class="container mt-2 container-fluid content-row">

    <div class="row mt-3 pt-3">
<nav>
  <div class="nav nav-pills me-3 mb- mb-2" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-pop-tab" data-bs-toggle="tab" data-bs-target="#nav-pop" type="button" role="tab" aria-controls="nav-pop" aria-selected="true">Population Table <span class="badge rounded-pill bg-light text-dark">{{species.population_set.count}}</span></button>
    
    {% if species.cultivated %}
    <button class="nav-link" id="nav-acc-tab" data-bs-toggle="tab" data-bs-target="#nav-acc" type="button" role="tab" aria-controls="nav-acc" aria-selected="false">Accession Table <span class="badge rounded-pill bg-light text-dark">{{species.accession_set.count}}</span></button>
    {% else %}
    <button class="nav-link" id="nav-ind-tab" data-bs-toggle="tab" data-bs-target="#nav-ind" type="button" role="tab" aria-controls="nav-ind" aria-selected="false">Individuals Table <span class="badge rounded-pill bg-light text-dark">{{species.individual_set.count}}</span></button>
    {% endif %}
    <button class="nav-link" id="nav-pheno-tab" data-bs-toggle="tab" data-bs-target="#nav-pheno" type="button" role="tab" aria-controls="nav-pheno" aria-selected="false">Phenotypes Table <span class="badge rounded-pill bg-light text-dark">{{species.phenotype_set.count}}</span></button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-pop" role="tabpanel" aria-labelledby="nav-pop-tab">
                {% render_table pop_table %}
  </div>

    {% if species.cultivated %}
      <div class="tab-pane fade" id="nav-acc" role="tabpanel" aria-labelledby="nav-acc-tab">
                    {% render_table acc_table %}
      </div>
    {% else %}
      <div class="tab-pane fade" id="nav-ind" role="tabpanel" aria-labelledby="nav-ind-tab">
                    {% render_table ind_table %}
      </div>
    {% endif %}
  <div class="tab-pane fade" id="nav-pheno" role="tabpanel" aria-labelledby="nav-pheno-tab">
                {% render_table pheno_table %}
  </div>
</div>
</nav>

</div>

{% endifequal %}

<script>
    $(function(){
        $('#world-map').vectorMap({map: 'us_aea', backgroundColor: "", 
            regionStyle: {
                initial: {
                    fill: '#999999'
                },
            },
            scaleColors: ['#C8EEFF', '#0071A4'],
            normalizeFunction: 'polynomial',
            hoverOpacity: 0.7,
            hoverColor: false,
            markerStyle: {
                initial: {
                    fill: '#F8E23B',
                    stroke: '#383f47'
                }
            },
            markers: {{ map_data|safe }}
        });
    });
</script>


{% endblock content %}
