<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>{% block title %}HeliantHOME - A public server for sunflower phenotype{% endblock title%}</title>
                <link rel="icon" type="image/png" href="/static/img/helianthome_logo.png">
                <link rel="apple-touch-icon-precomposed" type="image/png" href="/static/img/helianthome_logo.png">
                <link rel="apple-touch-icon" type="image/png" href="/static/img/helianthome_logo.png">
		<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="/static/css/jquery-jvectormap-2.0.5.css" media="screen,projection"/>
		<link rel="stylesheet" href="/static/css/bootstrap-icons.css"/>
		<link rel="stylesheet" href="/static/css/bootstrap-icons.css"/>
		<link rel="stylesheet" href="/static/css/introjs.css"/>
		<link rel="stylesheet" href="/static/css/introjs-modern.css"/>
		<script type="text/javascript" src="/static/js/jquery-3.5.1.slim.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-jvectormap-2.0.5.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-jvectormap-us-aea.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/js/chart.min.js"></script>
		<script type="text/javascript" src="/static/js/Chart.BoxPlot.min.js"></script>
		<script type="text/javascript" src="/static/js/intro.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>


<style>
.parallax {
  /* The image used */
  background-image: url("/static/img/background.jpg");

  /* Set a specific height */
  height: 250px;

  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
    background-color: rgba(255,255,255,0.9);
}
</style>

	<body>
	<nav class="navbar navbar-expand-xxl navbar-light sticky-top">
     <div class="container">
        <span class="navbar-brand mb-0 h1">
            <a class="text-decoration-none text-dark" href="/"><img src="/static/img/helianthome_logo.png" alt="" width="24" height="24" class="d-inline-block align-top">HeliantHOME</img></a>
        </span>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
        </button>
     <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/species/">Species</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/populations/">Populations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/individuals/">Individuals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/accessions/">Accessions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/phenotypes/">Phenotypes</a>
        </li>
       <!-- <li class="nav-item">
          <a class="nav-link" href="#">Phylogeny</a>
        </li>-->
      </ul>
    </div>
     <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item float-end" id="download_button">
          <a class="nav-link" href="#">Download</a>
        </li>
        <li class="nav-item float-end">
          <a class="nav-link" href="/about/">About</a>
        </li>
        <li class="nav-item float-end" id="faq_button">
          <a class="nav-link" href="#">FAQ</a>
        </li>
      </ul>
    </div>
    </div>
	</nav>


<!-- Container element -->


	<div class="container">
        {% block content %}{% endblock content %}
	</div>
	<div class="footer mb-4"> 
	    <div class="container">
    		<hr>
		    HeliantHOME is a public database for sunflower phenotypes (&copy 2021)
            <span class="float-end fw-lighter">
            <a href="/about/"> About</a> |
            <a data-bs-toggle="offcanvas" data-bs-target="#imprint" aria-controls="imprint" href="#imprint"> Imprint</a>
            </span>
	    </div>
        </div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="imprint" aria-labelledby="imprintLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="imprintLabel">Legal Notice</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    <strong>Contact Information</strong><br>
    Prof. Dr. Dominik Grimm<br>
    Professorship of Bioinformatics<br>
    <br>
    TUM Campus Straubing for Biotechnology and Sustainability (TUMCS)<br>
    Weihenstephan-Triesdorf University of Applied Sciences (HSWT)<br>
    Petersgasse 18<br>
    93415 Straubing<br>
    Germany<br>
    <br>
    dominik.grimm [at] hswt.de
    <br><br>
    <strong>Legal Information</strong><br>
    Type of business: Research Institute
    <br><br>
    <strong>Disclaimer</strong><br>
    This website provides information about public research data. We make no guarantees of accuracy, completeness and timeliness of the infomration on this website. We, therefore, accept no responsibility or liability for damages or losses resulting from the use of this website. This website provides links to other internet sites for the convenience of users. We are not responsible for the availability or content of these external sites, nor do they endorse, warrant, or guarantee any commercial product, service, site, law firm, attorney or information described or offered at these other internet sites.
  </div>
</div>


	</body>

</html>
