{% extends "base.html" %}

{% block title %} HeliantHome - About{% endblock title %}

{% block content %}

<div class="container mt-2 container-fuild content-row">

<div class="row">

<div class="col">
<div class="card">
  <div class="card-body">
    <i class="bi bi-info-square"></i> HeliantHome is  a central repository for population scale phenotype data and imaginf data for different sunflower species.
  </div>
</div>
</div>

</div>

<div class="row mt-3">

<div class="col">
<div class="card">
  <div class="card-header">
    <i class="bi bi-people-fill"></i> People behind HeliantHome
  </div>
  <div class="card-body">
    <p class="card-text">
    Weihenstephan-Triesdorf University of Applied Sciences<br>
    Technical University of Munich, Campus Straubing for Biotechnology and Sustainability<br>
    Technical University of Munich, Department of Informatics<br>
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>

</div>

<div class="row mt-3">

<div class="col">
<div class="card">
  <div class="card-header">
    <i class="bi bi-code-square"></i> Technology
  </div>
  <div class="card-body">
    <p class="card-text">
    Weihenstephan-Triesdorf University of Applied Sciences<br>
    Technical University of Munich, Campus Straubing for Biotechnology and Sustainability<br>
    Technical University of Munich, Department of Informatics<br>
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>

</div>

{% endblock content %}
