{% extends "base.html" %}

{% block title %} HeliantHOME - About{% endblock title %}

{% block content %}

<div class="container mt-2 container-fuild content-row">

<div class="row">

<div class="col">
<div class="card">
  <div class="card-body">
    <i class="bi bi-info-square"></i> HeliantHOME is a public and centralized database Home of a comprehensive collection of phenotypes for different Sunflower species.
  </div>
</div>
</div>

</div>

<div class="row mt-3">

<div class="col">
<div class="card">
  <div class="card-header">
    <i class="bi bi-people-fill"></i> People behind HeliantHOME
  </div>
  <div class="card-body">
    <p class="card-text">
    <div class="content">
    <div class="row">
    <div class="col-sm-12 col-md-6">
    <figure class="figure m-1 p-1">
        <img src="/static/img/tumcs_logo.png" class="figure-img img-fluid rounded" style="height:50px">
        <figcaption class="figure-caption">TUM Campus Straubing for Biotechnology and Sustainability</figcaption>
    </figure>
    <figure class="figure m-1 p-1">
        <img src="/static/img/tum_logo.png" class="figure-img img-fluid rounded" style="height:50px">
        <figcaption class="figure-caption">Technical University of Munich, Department of Informatics</figcaption>
    </figure>
    </div>
    <div class="col-sm-12 col-md-6">
    <figure class="figure m-1 p-1">
        <img src="/static/img/hswt_logo.png" class="figure-img img-fluid rounded" style="height:50px">
        <figcaption class="figure-caption">Weihenstephan-Triesdorf University of Applied Sciences</figcaption>
    </figure><br><br>
    <span class="fw-lighter" style="white-space:nowrap"><a href="https://bit.cs.tum.de" target="_blank" class="text-decoration-none">Nikita Genze <i class="bi bi-box-arrow-up-right me-3 fs-6"></i></a></span><br>
    <span class="fw-lighter" style="white-space:nowrap"><a href="https://bit.cs.tum.de" target="_blank" class="text-decoration-none">Prof. Dr. Dominik Grimm <i class="bi bi-box-arrow-up-right me-3 fs-6"></i></a></span><br>
    </div>
    </div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">
    <div class="content">
    <div class="row">
    <div class="col-sm-12 col-md-6">
    <figure class="figure m-1 p-1">
        <img src="/static/img/ubc-logo.png" class="figure-img img-fluid rounded" style="height:50px">
        <figcaption class="figure-caption">The University of British Columbia</figcaption>
    </figure>
    <figure class="figure m-1 p-1">
        <img src="/static/img/brcfull.png" class="figure-img img-fluid rounded" style="height:50px">
        <figcaption class="figure-caption">Biodiversity Research Centre</figcaption>
    </figure>
    </div>
    <div class="col-sm-12 col-md-6">
    <span class="fw-lighter" style="white-space:nowrap"><a href="https://biodiversity.ubc.ca/people/affiliated-postdoctoral-fellow/natalia-bercovich" target="_blank" class="text-decoration-none">Dr. Natalia Bercovich <i class="bi bi-box-arrow-up-right me-3 fs-6"></i></a></span><br>
    <span class="fw-lighter" style="white-space:nowrap"><a href="https://rieseberglab.botany.ubc.ca/postdoctoral-fellows/marco-todesco/" target="_blank" class="text-decoration-none">Dr. Marco Todesco <i class="bi bi-box-arrow-up-right me-3 fs-6"></i></a></span><br>
    <span class="fw-lighter" style="white-space:nowrap"><a href="https://owensgl.github.io" target="_blank" class="text-decoration-none">Prof. Dr. Gregory L. Owens <i class="bi bi-box-arrow-up-right me-3 fs-6"></i></a></span><br>
    <span class="fw-lighter" style="white-space:nowrap"><a href="https://www.cs.ubc.ca/~jslegare/" target="_blank" class="text-decoration-none">Dr. Jean-Sébastien Légaré <i class="bi bi-box-arrow-up-right me-3 fs-6"></i></a></span><br>
    <span class="fw-lighter" style="white-space:nowrap"><a href="https://rieseberglab.botany.ubc.ca/graduate-students/kaichi-huang/" target="_blank" class="text-decoration-none">Kaichi Huang <i class="bi bi-box-arrow-up-right me-3 fs-6"></i></a></span><br>
    <span class="fw-lighter" style="white-space:nowrap"><a href="https://www.botany.ubc.ca/people/loren-rieseberg" target="_blank" class="text-decoration-none">Prof. Dr. Loren H. Rieseberg <i class="bi bi-box-arrow-up-right me-3 fs-6"></i></a></span><br>
    </div>
    </div>
    </div>
  </div>
</div>
</div>

</div>

<div class="row mt-3">

<div class="col">
<div class="card">
  <div class="card-header">
    <i class="bi bi-github"></i> Code and Issue Tracker
  </div>
  <div class="card-body">
    <p class="card-text">
    The code of HeliantHOME is Open Source and freely available on GitHub: <span class="fw-lighter" style="white-space:nowrap"><a href="https://github.com/grimmlab/HeliantHOME" target="_blank" class="text-decoration-none">HeliantHOME Repository on GitHub <i class="bi bi-box-arrow-up-right me-3 fs-6"></i></a></span>
    <br><br>
    Issues or feature requests can be posted using the issue tracker on GitHub: <span class="fw-lighter" style="white-space:nowrap"><a href="https://github.com/grimmlab/HeliantHOME/issues" target="_blank" class="text-decoration-none">Issue or Feature Request <i class="bi bi-box-arrow-up-right me-3 fs-6"></i></a></span>

    </p>
  </div>
</div>

<div class="row mt-3">

<div class="col">
<div class="card">
  <div class="card-header">
    <i class="bi bi-code-square"></i> Technology
  </div>
  <div class="card-body">
    <p class="card-text">
    HelantHome uses modern web technologies and frameworks for an optimal user experience.
    <a href="https://www.python.org" class="text-decoration-none"><figure class="figure m-1 p-1">
        <img src="/static/img/python.png" class="figure-img img-fluid rounded" style="height:50px">
        <figcaption class="figure-caption">Based on Python3</figcaption>
    </figure></a>
    <a href="https://www.djangoproject.com" class="text-decoration-none"><figure class="figure m-1 p-1">
        <img src="/static/img/django.png" class="figure-img img-fluid rounded" style="height:50px">
        <figcaption class="figure-caption">Python Django</figcaption>
    </figure></a>
    <a href="https://getbootstrap.com" class="text-decoration-none"><figure class="figure m-1 p-1">
        <img src="/static/img/bootstrap.png" class="figure-img img-fluid rounded" style="height:50px">
        <figcaption class="figure-caption">Bootstrap</figcaption>
    </figure></a>
    <a href="https://jquery.com" class="text-decoration-none"><figure class="figure m-1 p-1">
        <img src="/static/img/jquery_logo.png" class="figure-img img-fluid rounded" style="height:50px">
        <figcaption class="figure-caption">jQuery</figcaption>
    </figure></a>
    <a href="https://www.chartjs.org" class="text-decoration-none"><figure class="figure m-1 p-1">
        <img src="/static/img/chartjs.png" class="figure-img img-fluid rounded" style="height:50px">
        <figcaption class="figure-caption">Chart.js</figcaption>
    </figure></a><br><br>
    Additional Packages and Frameworks:
    <ul>
        <li><span class="fw-lighter" style="white-space:nowrap"><a href="https://jvectormap.com" target="_blank" class="text-decoration-none">jVectorMap <i class="bi bi-box-arrow-up-right me-3 fs-6"></i></a></span></li>
        <li><span class="fw-lighter" style="white-space:nowrap"><a href="https://github.com/usablica/intro.js" target="_blank" class="text-decoration-none">intro.js <i class="bi bi-box-arrow-up-right me-3 fs-6"></i></a></span></li>
        <li><span class="fw-lighter" style="white-space:nowrap"><a href="https://django-tables2.readthedocs.io/en/latest/" target="_blank" class="text-decoration-none">django-tables2 <i class="bi bi-box-arrow-up-right me-3 fs-6"></i></a></span></li>
        <li><span class="fw-lighter" style="white-space:nowrap"><a href="https://github.com/grimmlab/HeliantHOME" target="_blank" class="text-decoration-none">For a full list see our GitHub Repository <i class="bi bi-box-arrow-up-right me-3 fs-6"></i></a></span></li>
    </ul>
    </p>
  </div>
</div>
</div>

</div>
</div>
</div>

{% endblock content %}
