{% extends "base.html" %}

{% block content %}
<div class="parallax">
<div class="mask" style="background-color: rgba(0, 0, 0, 0.4);height: 100%">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">HeliantOME</h1>
          <h4 class="mb-3">HeliantOME is a public database collection of different sunflower species phenotypes</h4>
          <a class="btn btn-outline-light btn-lg" href="#!" role="button"
            >Guided Tour</a
          >
        </div>
      </div>
    </div>
  </div>

</div>

<br><br>
<div class="container px-4">
<div class="row justify-content-md-center gx-5">

<div class="col col-sm-auto">
    <div class="card">
      <div class="card-header">
        <h4>Summary Statistics</h4>
      </div>
      <div class="card-body">
         <div class="icon">
             <span style="white-space:nowrap" class="fs-4"><i class="bi bi-flower3 text-success fs-3 me-3"></i>{{ number_species }} Species</span><br>
             <span style="white-space:nowrap" class="fs-4"><i class="bi bi-globe text-primary fs-3 me-3"></i>{{ number_populations }} Populations</span><br>
             <span style="white-space:nowrap" class="fs-4"><i class="bi bi-people fs-3 me-3"></i>{{ number_individuals }} Individuals</span><br>
             <span style="white-space:nowrap" class="fs-4"><i class="bi bi-rulers text-secondary fs-3 me-3"></i>{{ number_phenotypes }} Phenotypes</span><br>
             <span style="white-space:nowrap" class="fs-4"><i class="bi bi-images text-danger fs-3 me-3"></i>{{ number_images }} Images</span><br>
        </div>
      </div>
    </div>
</div>

<div class="col col-xl">
    <div class="card">
      <div class="card-header">
        <h4>Population Map</h4>
      </div>
      <div class="card-body">

      </div>
    </div>
</div>

</div>
</div>






{% endblock content %}
