{% extends "base.html" %}

{% block title %} HeliantHome{% endblock title %}

{% block content %}
<div class="parallax">
<div class="mask" style="background-color: rgba(0, 0, 0, 0.4);height: 100%">
      <div class="d-flex justify-content-center align-items-center h-100 m-3">
        <div class="text-white">
          <h1 class="header mb-3">HeliantHome</h1>
          <h4 class="mb-3">HeliantHome is a public database collection of different sunflower species phenotypes</h4>
          <a class="btn btn-outline-light btn-lg" href="#!" id="start_tour" role="button">Guided Tour</a>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container mt-4 container-fluid content-row">
<div class="row">

<div class="col-sm-12 col-md-4 pt-2">
    <div class="card h-100" id="stats">
      <div class="card-header">
        Summary Statistics
      </div>
      <div class="card-body">
             <span style="white-space:nowrap" class="fs-5"><i class="bi bi-flower3 text-success fs-3 me-3"></i>{{ number_species }} Species
             <a href="/species/"><i class="bi bi-box-arrow-right text-black fs-3 float-end me-auto"></i></a></span>
             <br>
             <span style="white-space:nowrap" class="fs-5"><i class="bi bi-globe text-primary fs-3 me-3"></i>{{ number_populations }} Populations
             <a href="/populations/"><i class="bi bi-box-arrow-right text-black fs-3 float-end me-auto"></i></a></span>
             <br>
             <span style="white-space:nowrap" class="fs-5"><i class="bi bi-people fs-3 me-3"></i>{{ number_individuals }} Individuals
             <a href="/individuals/"><i class="bi bi-box-arrow-right text-black fs-3 float-end me-auto"></i></a></span>
             <br>
             <span style="white-space:nowrap" class="fs-5"><i class="bi bi-rulers text-secondary fs-3 me-3"></i>{{ number_phenotypes }} Phenotypes
             <a href="/phenotypes"><i id="phenotype_detail" class="bi bi-box-arrow-right text-black fs-3 float-end me-auto"></i></a></span>
             <br>
             <span style="white-space:nowrap" class="fs-5"><i class="bi bi-sort-numeric-down text-secondary fs-3 me-3"></i>{{ number_measurements }} Measurements
             <a href="/phenotypes"><i class="bi bi-box-arrow-right text-black fs-3 float-end me-auto"></i></a></span>
             <br>
             <span style="white-space:nowrap" class="fs-5"><i class="bi bi-images text-danger fs-3 me-3"></i>{{ number_images }} Images
             <a href="/images/"><i class="bi bi-box-arrow-right text-black fs-3 float-end me-auto"></i></a></span>
             <br>
      </div>
    </div>
</div>

<div class="col-sm-12 col-md-4 pt-2">
    <div class="card h-100" id="popmap">
      <div class="card-header">
        Population Map
      </div>
      <div class="card-body mh-100" id="world-map" style="height:300px">
      </div>
    </div>
</div>

<div class="col-sm-12 col-md-4 pt-2">
    <div class="card h-100" id="phenotype">
      <div class="card-header">
        Phenotype Categories
      </div>
      <div class="card-body">
            <canvas id="phenotype_doughnut"></canvas>
      </div>
    </div>
</div>

</div>
</div>

<script>
    $(function(){
        var cat_string = "{{category_list}}".replaceAll("&quot;",'"');
        var categories = JSON.parse(cat_string);
        const ctx = document.getElementById('phenotype_doughnut').getContext('2d');
        const chart = new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: categories,
            datasets: [{
              label: 'Phenotypes',
              data: {{category_entries}},
              backgroundColor: ['rgb(0, 66, 157)', 
                                'rgb(86, 129, 185)', 
                                'rgb(147, 196, 210)', 
                                'rgb(255, 255, 224)', 
                                'rgb(255, 165, 158)', 
                                'rgb(221, 76, 101)', 
                                'rgb(147, 0, 58)'],
              hoverOffset: 4,
            },
            ]
          },
          options: {
            responsive: true,
            aspectRatio: {% if request.user_agent.is_mobile %} 1 {% else %} 2 {% endif %},
            plugins: {
                legend: {
                    display: true,
                    position: "right",
                }
            }
          }
        });

        $('#world-map').vectorMap({map: 'us_aea', backgroundColor: "", 
            regionStyle: {
                initial: {
                    fill: '#999999'
                },
            },
            scaleColors: ['#C8EEFF', '#0071A4'],
            normalizeFunction: 'polynomial',
            hoverOpacity: 0.7,
            hoverColor: false,
            markerStyle: {
                initial: {
                    fill: '#F8E23B',
                    stroke: '#383f47'
                }
            },
            markers: {{ map_data|safe }}
        });
    });

    $('#start_tour').click(function() {
        var steps = [
            {
                element: '.header',
                intro: 'HeliantHome is a public database collection of phenotypes for different sunflower species. This tour will show some of the main features'
            },
            {
                element: '#faq_button',
                intro: 'The FAQ section provides additional information about features of HeliantHome'
            },
            {
                element: '#download_button',
                intro: 'Download center for downloading data batchwise from HeliantHome'
            },
            {
                element: '#phenotype',
                intro: 'Summary of different phenotype categories and how much phenotypes are available for which categorie'
            },
            {
                element: '#popmap',
                intro: 'Population maps shows locations of wild sunflowers which are integrated into this database'
            },
            {
                element: '#stats',
                intro: 'Short summary statistics about the database content, e.g. the number of phenotypes or images included in the database.'
            },
            {
                element: '#phenotype_detail',
                intro: 'Clicking on one of these buttons forwards you to additional information, e.g. like here to an overview about all integrated phenotypes'
            },

        ];
        var intro = introJs();
        intro.setOptions({doneLabel:'Next page',steps:steps});
        intro.start().oncomplete(function() {
          window.location.href = 'phenotypes/?multipage=true';
        });
        //.onexit(function() {
        //  ga('send', 'event', 'Tour', 'exit','Home');
        //});
    });
</script>





{% endblock content %}
